* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat" !important;
  background-color: black !important;
}

.preloader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-text {
  padding-left: 1rem;
  font-size: 2.5rem;
  color: white;
}

.spinner-border {
  border-color: white;
  border-right-color: transparent;
}

.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 5px 0;
  z-index: 100;
}

/*
==============
Logo animation
==============
*/

#logo {
  animation: fill 0.5s ease forwards 3.5s;
}

#logo path:nth-child(1) {
  animation: line-ani 2s ease forwards;
}
#logo path:nth-child(2) {
  animation: line-ani 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  animation: line-ani 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  animation: line-ani 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  animation: line-ani 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  animation: line-ani 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  animation: line-ani 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
  animation: line-ani 2s ease forwards 2.1s;
}
#logo path:nth-child(9) {
  animation: line-ani 2s ease forwards 2.4s;
}

/*
  ==========
  Search bar
  ==========
  */

form {
  width: 70%;
}

.search:focus {
  background-image: url(images/typing.gif);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: right center;
}

/*
=========
Nav links
=========
*/

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.links-container > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  margin-right: 15px;
}

/*
======
Banner
======
*/

.content-container {
  max-width: 1450px;
  margin: 0 auto;
}

.carousel-item {
  position: relative !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie-title {
  font-weight: bold;
}

.movie-discription {
  font-size: 1.2rem;
}

/*
======
movies
======
*/

.section-title {
  padding: 20px !important;
  font-weight: bold !important;
  color: white;
  text-align: center;
  font-size: 4rem !important;
}

.row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-icon {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 0.5rem;
}

.movies-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

.movies-container::-webkit-scrollbar {
  display: none;
}

.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.movie:hover {
  transform: scale(1.1);
}

.movie-poster {
  object-fit: contain;
  width: 250px;
}

.title {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  text-align: center !important;
  padding: 5px !important;
}

.rating {
  font-size: 1rem !important;
}

.title,
.rating {
  color: white;
}

/*
===============
Searched Movies
===============
*/

.search-info {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 20px;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

.searched-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.searched-movie:hover {
  transform: scale(1.1);
}

/*
=========== 
Animations
==========
*/

@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

@media screen and (max-width: 500px) {
  .links-container {
    display: none;
  }

  .scroll-icon {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .my-carousel-img {
    object-fit: contain;
    height: 90vh;
  }
}
